<configuration>
    <timestamp key="bySecond" datePattern="yyyy:MM:dd'-Time:'HH:mm:ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender"> //вывод в логфайл
        <file>src/test/java/my/learning_java/addressbook/tests_log/test-${bySecond}.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  //вывод на консоль
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level> //указываем, что на консоль должны выводиться только сообщения уровня INFO
        </filter>

        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

